<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>{{'account.apiKeyPairLink' | translate}} <small>{{'account.apiKeyPairShortDescription' | translate}}</small></h2>
        </div>
        <div class="text-right">
            <button (click)="onClickCreate()" class="btn btn-default">{{'account.apiKeyPairCreateButton' | translate}}</button>
        </div>
        <faya-loading [loading]="loading">
            <table class="table margin-top-20">
                <thead>
                    <tr>
                        <th>{{'account.apiKeyPairIdRaw' | translate}}</th>
                        <th>{{'account.apiKeyPairSecretRaw' | translate}}</th>
                        <th>{{'misc.deleteRaw' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let apiKeyPair of apiKeyPairs">
                        <td>{{apiKeyPair.keyId}}</td>
                        <td>{{apiKeyPair.keySecret}}</td>
                        <td (click)="onClickDelete(apiKeyPair)" class="clickable"><span class="glyphicon glyphicon-trash"></span></td>
                    </tr>
                </tbody>
            </table>
        </faya-loading>
    </div>
</div>