<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>{{'token.managerLink' | translate}} <small>{{'token.managerShortDescription' | translate}}</small></h2>
        </div>
        <div class="col-md-4">
            <faya-namespace-list (namespaceSelected)="onNamespaceSelected($event)"></faya-namespace-list>
        </div>
        <div class="col-md-8">
            <faya-token-list [namespace]="namespaceSelected"></faya-token-list>
        </div>
    </div>
</div>