<div>
    <div *ngIf="!displayNamespaceDetails">
        <button (click)="onClickCreate()" class="btn btn-primary">{{'namespace.createButton' | translate}}</button><br/>
        <input type="text" [formControl]="filter" placeholder="{{'misc.filterRaw' | translate}}"/><br/>
        <div class="list-group">
            <button *ngFor="let namespace of namespaces.result"
                    [ngClass]="{active: _namespaceSelected && (namespace.id == _namespaceSelected.id)}"
                    class="list-group-item" type="button"
                    (click)="onClickNamespace(namespace)">
                    {{namespace.name}}
                <span (click)="onClickDelete(namespace)" class="clickable glyphicon glyphicon-trash"></span>
                <span (click)="onClickDetails(namespace)" class="clickable glyphicon glyphicon-edit"></span>
            </button>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <faya-pagination-info [page]="namespaces.page" [limit]="paginationParameter.limit" [resultCount]="namespaces.resultCount" [totalCount]="namespaces.totalCount"></faya-pagination-info>
                <pagination (pageChanged)="pageChanged($event)"
                            [(ngModel)]="paginationParameter.page"
                            [totalItems]="namespaces.totalCount"
                            [itemsPerPage]="paginationParameter.limit"
                            [maxSize]="5"
                            [boundaryLinks]="true"
                            class="pagination-sm">
                </pagination>
            </div>
        </div>
    </div>
    <faya-namespace-details *ngIf="displayNamespaceDetails" [namespace]="namespaceToModify" (done)="onDetailsDone()"></faya-namespace-details>
</div>