<form (ngSubmit)="onSubmit()" #namespaceForm="ngForm">
    <div class="form-group">
        <label for="name">{{'namespace.nameLabel' | translate}}</label>
        <input type="text" #name [(ngModel)]="namespace.name" class="form-control" id="name" name="name" required/>
    </div>
    <div class="form-group">
        <label for="description">{{'namespace.descriptionLabel' | translate}}</label>
        <textarea #description [(ngModel)]="namespace.description" class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group clearfix">
        <div class="pull-right">
            <button (click)="onCancel()" type="button" class="btn btn-default">{{'misc.cancelButton' | translate}}</button>
            <button type="submit" [disabled]="!namespaceForm.form.valid" class="btn btn-default">{{namespace.id ? ('misc.saveButton' | translate) : ('misc.createButton' | translate)}}</button>
        </div>
    </div>
</form>