body {
    padding-top: 70px;
}

.clickable {
    cursor: pointer;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-10 {
    margin: 10px;
}
