<form (ngSubmit)="onSubmit()" #tokenForm="ngForm">
    <div class="form-horizontal">
        <faya-toggle-button labelClasses="control-label col-md-2" inputClasses="col-md-2" [(ngModel)]="token.active" name="active">{{'token.activeLabel' | translate}}</faya-toggle-button>
        <div class="form-group">
            <label class="control-label col-md-2">{{'token.startsAtLabel' | translate}}</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="form-control">
                        <span><!--
                            -->{{token.startsAt | date:'y/M/d, hh:mm a'}}<!--
                            --><span *ngIf="token.startsAt" (click)="resetStartsAt()" class="clickable glyphicon glyphicon-remove margin-left-10"></span><!--
                        --></span>
                    </div>
                    <div (click)="displayStartsAtPicker = !displayStartsAtPicker" class="clickable input-group-addon"><span class="glyphicon glyphicon-calendar pull-right"></span></div>
                </div>
            </div>
            <label class="control-label col-md-2">{{'token.endsAtLabel' | translate}}</label>
            <div class="col-md-4">
                <div class="input-group">
                    <div class="form-control">
                        <span><!--
                            -->{{token.endsAt | date:'y/M/d, hh:mm a'}}<!--
                            --><span *ngIf="token.endsAt" (click)="resetEndsAt()" class="clickable glyphicon glyphicon-remove margin-left-10"></span><!--
                        --></span>
                    </div>
                    <div (click)="displayEndsAtPicker = !displayEndsAtPicker" class="clickable input-group-addon"><span class="glyphicon glyphicon-calendar pull-right"></span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="displayStartsAtPicker" class="col-md-6">
                <faya-datetime-picker [(ngModel)]="token.startsAt"
                                      (close)="displayStartsAtPicker = false"
                                      (selectionDone)="displayStartsAtPicker = false"
                                      name="startsAt">
                </faya-datetime-picker>
            </div>
            <div *ngIf="displayEndsAtPicker" class="col-md-6"
                 [ngClass]="{'col-md-offset-6': !displayStartsAtPicker}">
                <faya-datetime-picker [(ngModel)]="token.endsAt"
                                      (close)="displayEndsAtPicker = false"
                                      (selectionDone)="displayEndsAtPicker = false"
                                      name="endsAt">
                </faya-datetime-picker>
            </div>
        </div>
        <div class="form-group">
            <label for="pool" class="control-label col-md-2">{{'token.poolLabel' | translate}}</label>
            <div class="col-md-4">
                <input type="number" [(ngModel)]="token.pool" class="form-control" id="pool" name="pool"/>
            </div>
        </div>
    </div>
    <div class="form-group col-md-offset-1">
        <label for="description">{{'token.descriptionLabel' | translate}}</label>
        <textarea [(ngModel)]="token.description" class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
        <div class="pull-right">
            <button (click)="onCancel()" type="button" class="btn btn-default">{{'misc.cancelButton' | translate}}</button>
            <button type="submit" [disabled]="!tokenForm.form.valid" class="btn btn-default">{{token.id ? ('misc.saveButton' | translate) : ('misc.createButton' | translate)}}</button>
        </div>
    </div>
</form>