<form (ngSubmit)="onSubmit()" #tokenForm="ngForm">
    <div class="form-horizontal">
        <faya-toggle-button labelClasses="control-label col-md-2" inputClasses="col-md-2" [(ngModel)]="token.active" name="active">{{'token.activeLabel' | translate}}</faya-toggle-button>
        <div *ngIf="token.id" class="form-group">
            <label class="control-label col-md-2">{{'token.valueLabel' | translate}}</label>
            <div class="col-md-10">
                <p class="form-control-static">{{token.value}}</p>
            </div>
        </div>
        <div *ngIf="token.id" class="form-group">
            <label class="control-label col-md-2">{{'token.createdAtLabel' | translate}}</label>
            <div class="col-md-4">
                <p class="form-control-static">{{token.createdAt | date:'y/MM/dd, HH:mm'}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">{{'token.startsAtLabel' | translate}}</label>
            <div class="col-md-5 col-lg-4">
                <div class="input-group">
                    <div (click)="onClickDisplayStartsAtPicker()" class="clickable input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    <div class="form-control">
                        {{token.startsAt | date:'y/MM/dd, HH:mm'}}
                    </div>
                    <div *ngIf="token.startsAt" class="clickable input-group-addon" (click)="resetStartsAt()"><span class="clickable glyphicon glyphicon-remove"></span></div>
                    <div *ngIf="displayStartsAtPicker">
                        <faya-datetime-picker [(ngModel)]="token.startsAt"
                                              (close)="displayStartsAtPicker = false"
                                              (selectionDone)="displayStartsAtPicker = false"
                                              header="{{'token.startsAtRaw' | translate}}"
                                              name="startsAt">
                        </faya-datetime-picker>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">{{'token.endsAtLabel' | translate}}</label>
            <div class="col-md-5 col-lg-4">
                <div class="input-group">
                    <div (click)="onClickDisplayEndsAtPicker()" class="clickable input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                    <div class="form-control">
                        {{token.endsAt | date:'y/MM/dd, HH:mm'}}
                    </div>
                    <div *ngIf="token.endsAt" class="clickable input-group-addon" (click)="resetEndsAt()"><span class="clickable glyphicon glyphicon-remove"></span></div>
                    <div *ngIf="displayEndsAtPicker">
                        <faya-datetime-picker [(ngModel)]="token.endsAt"
                                              (close)="displayEndsAtPicker = false"
                                              (selectionDone)="displayEndsAtPicker = false"
                                              header="{{'token.endsAtRaw' | translate}}"
                                              name="endsAt">
                        </faya-datetime-picker>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="pool" class="control-label col-md-2">{{'token.poolLabel' | translate}}</label>
            <div class="col-md-2">
                <input type="number" min="0" [(ngModel)]="token.pool" class="form-control" id="pool" name="pool"/>
            </div>
        </div>
    </div>
    <div class="form-group col-md-offset-1">
        <label for="description">{{'token.descriptionLabel' | translate}}</label>
        <textarea [(ngModel)]="token.description" class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group clearfix">
        <div class="pull-right">
            <button (click)="onCancel()" type="button" class="btn btn-default">{{'misc.cancelButton' | translate}}</button>
            <button type="submit" [disabled]="!tokenForm.form.valid" class="btn btn-default">{{token.id ? ('misc.saveButton' | translate) : ('misc.createButton' | translate)}}</button>
        </div>
    </div>
</form>