<div *ngIf="namespace">
    <div *ngIf="!displayTokenDetails">
        <div class="row">
            <div class="col-md-12 text-right">
                <button (click)="onClickCreate()" class="btn btn-primary">{{'token.createButton' | translate}}</button><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input type="text" class="form-control margin-top-20" [formControl]="filter" placeholder="{{'misc.filterRaw' | translate}}"/><br/>
            </div>
        </div>
        <table class="table table-condensed margin-top-10">
            <thead>
                <tr>
                    <th>{{'token.valueRaw' | translate}}</th>
                    <th>{{'token.activeRaw' | translate}}</th>
                    <th>{{'token.startsAtRaw' | translate}}</th>
                    <th>{{'token.endsAtRaw' | translate}}</th>
                    <th>{{'token.poolRaw' | translate}}</th>
                    <th>{{'token.countRaw' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let token of tokens.result"
                    tooltipPlacement="bottom"
                    [tooltip]="token.description"
                    tooltipPopupDelay="1250"
                    [ngClass]="{'bg-success': token.isValid()}">
                    <td class="crop">{{token.value}}</td>
                    <td>
                        <span *ngIf="token.active" class="glyphicon glyphicon-ok"></span>
                        <span *ngIf="!token.active" class="glyphicon glyphicon-remove"></span>
                    </td>
                    <td>{{token.startsAt | date:'y/M/d, hh:mm a'}}</td>
                    <td>{{token.endsAt | date:'y/M/d, hh:mm a'}}</td>
                    <td>{{token.pool}}</td>
                    <td>{{token.count}}</td>
                    <td>
                        <faya-more-button class="pull-right">
                            <faya-more-button-row (click)="onClickDelete(token)"><span class="clickable glyphicon glyphicon-trash margin-right-10"></span>{{'misc.deleteRaw' | translate}}</faya-more-button-row>
                            <faya-more-button-row (click)="onClickDetails(token)"><span class="clickable glyphicon glyphicon-edit margin-right-10"></span>{{'misc.editRaw' | translate}}</faya-more-button-row>
                        </faya-more-button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12 text-right">
                <faya-pagination [limit]="paginationParameter.limit"
                                 [resultCount]="tokens.resultCount"
                                 [totalCount]="tokens.totalCount"
                                 [(ngModel)]="paginationParameter.page"
                                 (pageChanged)="pageChanged($event)"></faya-pagination>
            </div>
        </div>
    </div>
    <faya-token-details *ngIf="displayTokenDetails" [namespace]="namespace" [token]="tokenToModify" (done)="onDetailsDone()"></faya-token-details>
</div>