<div *ngIf="token">
    <div *ngIf="!chartLoading" class="row">
        <div class="col-md-3 col-md-offset-9">
            <select (change)="chartScaleChange($event)" class="form-control">
                <option value="day">{{'tokenHit.lastDay' | translate}}</option>
                <option value="month">{{'tokenHit.lastMonth' | translate}}</option>
                <option value="year">{{'tokenHit.lastYear' | translate}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="chartParameter" fayaChart id="historyChart" [chartParameter]="chartParameter" (chartReady)="onChartReady()"></div>
    <div class="text-right"><small><em>{{'misc.chartUTC' | translate}}</em></small></div>
    <hr/>
    <faya-loading [loading]="loading">
        <table class="table table-condensed margin-top-10 faya-tokenHit-list">
            <thead>
            <tr>
                <th>{{'tokenHit.ipRaw' | translate}}</th>
                <th>{{'tokenHit.dateRaw' | translate}}</th>
                <th>{{'tokenHit.userAgentRaw' | translate}}</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngIf="tokenHits.resultCount === 0">
                    <td colspan="3" class="text-center text-muted">{{'tokenHit.noResults' | translate}}</td>
                </tr>
                <tr *ngFor="let tokenHit of tokenHits.result"
                    [ngClass]="{'danger': !tokenHit.response}">
                    <td>{{tokenHit.ip}}</td>
                    <td>{{tokenHit.date | date:'y/MM/dd, HH:mm'}}</td>
                    <td>{{tokenHit.userAgent}}</td>
                </tr>
            </tbody>
        </table>
    </faya-loading>
    <faya-pagination [limit]="paginationParameter.limit"
                     [resultCount]="tokenHits.resultCount"
                     [totalCount]="tokenHits.totalCount"
                     [(ngModel)]="paginationParameter.page"
                     (pageChanged)="pageChanged($event)"
                     class="pull-right text-right"></faya-pagination>
</div>