<div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <input type="text" class="form-control margin-top-20" [formControl]="filter" placeholder="{{'misc.filterRaw' | translate}}"/>
        </div>
    </div>
    <table class="table margin-top-10">
        <thead>
            <tr>
                <th>{{'account.emailRaw' | translate}}</th>
                <th>{{'account.createdAtRaw' | translate}}</th>
                <th>{{'account.lastAccessRaw' | translate}}</th>
                <th>{{'account.adminRaw' | translate}}</th>
                <th>{{'misc.deleteRaw' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users.result">
                <td>{{user.local.email}}</td>
                <td>{{user.createdAt | date}}</td>
                <td>{{user.lastAccess | date}}</td>
                <td><span *ngIf="user.admin" class="glyphicon glyphicon-ok-sign"></span></td>
                <td (click)="onClickDelete(user)" class="clickable"><span class="glyphicon glyphicon-trash"></span></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 text-right">
            <faya-pagination [limit]="paginationParameter.limit"
                             [resultCount]="users.resultCount"
                             [totalCount]="users.totalCount"
                             [(ngModel)]="paginationParameter.page"
                             (pageChanged)="pageChanged($event)"></faya-pagination>
        </div>
    </div>
</div>