<div>
    <input type="text" [formControl]="filter" placeholder="{{'misc.filterRaw' | translate}}"/>
    <table>
        <thead>
            <tr>
                <th>{{'account.emailRaw' | translate}}</th>
                <th>{{'account.createdAtRaw' | translate}}</th>
                <th>{{'account.lastAccessRaw' | translate}}</th>
                <th>{{'account.adminRaw' | translate}}</th>
                <th>{{'misc.deleteRaw' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.local.email}}</td>
                <td>{{user.createdAt | date}}</td>
                <td>{{user.lastAccess | date}}</td>
                <td><span *ngIf="user.admin" class="glyphicon glyphicon-ok-sign"></span></td>
                <td (click)="onClickDelete(user)" class="clickable"><span class="glyphicon glyphicon-trash"></span></td>
            </tr>
        </tbody>
    </table>
</div>