<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>{{'misc.dashboardRaw' | translate}} <small>{{'account.myInformationRaw' | translate}}</small></h2>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal">
                <faya-loading [loading]="loading">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{'account.myContentRaw' | translate}}</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-5 control-label">{{'token.tokenCountLabel' | translate}}</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{tokenCount}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label">{{'namespace.namespaceCountLabel' | translate}}</label>
                                <div class="col-md-7">
                                    <p class="form-control-static">{{namespaceCount}}</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-default" routerLink="/token-manager">{{'token.managerLink' | translate}}</a>
                            </div>
                        </div>
                    </div>
                </faya-loading>
                <div class="panel panel-default">
                    <div class="panel-heading">{{'account.myAccountRaw' | translate}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">{{'account.createdAtLabel' | translate}}</label>
                            <div class="col-md-7">
                                <p class="form-control-static">{{user.createdAt | date}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">{{'account.emailLabel' | translate}}</label>
                            <div class="col-md-7">
                                <p class="form-control-static">{{user.local.email}}</p>
                            </div>
                        </div>
                        <div *ngIf="user.admin" class="form-group">
                            <label class="col-md-5 control-label">{{'account.adminLabel' | translate}}</label>
                            <div class="col-md-7">
                                <p class="form-control-static">{{'misc.yesRaw' | translate}}</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-default" routerLink="/api-key-pair">{{'account.apiKeyPairLink' | translate}}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>